Default sensor positions

/*<!-- outer-left sensors --> */
#b13 {
  top: 167px;
  left: 172px;
}

#b14 {
  top: 224px;
  left: 172px;
}

#b15 {
  top: 313px;
  left: 172px;
}

#b16 {
  top: 342px;
  left: 172px;
}

#b17 {
  top: 404px;
  left: 172px;
}

#b18 {
  top: 466px;
  left: 172px;
}

/*     <!-- inner-left sensors --> */
#b1 {
  top: 167px;
  left: 360px;
}

#b2 {
  top: 224px;
  left: 360px;
}

#b3 {
  top: 280px;
  left: 360px;
}

#b4 {
  top: 342px;
  left: 360px;
}

#b5 {
  top: 404px;
  left: 360px;
}

#b6 {
  top: 466px;
  left: 360px;
}

/*     <!-- inner-right sensors --> */
#b7 {
  top: 167px;
  left: 473px;
}

#b8 {
  top: 224px;
  left: 473px;
}

#b9 {
  top: 280px;
  left: 473px;
}

#b10 {
  top: 342px;
  left: 473px;
}

#b11 {
  top: 404px;
  left: 473px;
}

#b12 {
  top: 466px;
  left: 473px;
}

/*     <!-- outer-right sensors --> */
#b19 {
  top: 167px;
  left: 655px;
}

#b20 {
  top: 224px;
  left: 665px;
}

#b21 {
  top: 280px;
  left: 655px;
}

#b22 {
  top: 342px;
  left: 655px;
}

#b23 {
  top: 404px;
  left: 655px;
}

#b24 {
  top: 466px;
  left: 655px;
}

/*     <!-- orange sensors: 1st column --> */
#b25 {
  top: 244px;
  left: 233px;
}

#b26 {
  top: 376px;
  left: 233px;
}

#b27 {
  top: 508px;
  left: 233px;
}

/* Orange sensors: 2nd column */
#b28 {
  top: 244px;
  left: 323px;
}

#b29 {
  top: 376px;
  left: 323px;
}

#b30 {
  top: 508px;
  left: 323px;
}

/* Orange sensors: 3rd column */
#b31 {
  top: 244px;
  left: 533px;
}

#b32 {
  top: 376px;
  left: 533px;
}

#b33 {
  top: 508px;
  left: 533px;
}

/* Orange sensors: 4th column */
#b34 {
  top: 244px;
  left: 623px;
}

#b35 {
  top: 376px;
  left: 623px;
}

#b36 {
  top: 508px;
  left: 623px;
}

/* green sensors: 1st column */
#b37 {
  top: 335px;
  left: 275px;
}

#b38 {
  top: 470px;
  left: 275px;
}

/* green sensors: 2nd column */
#b39 {
  top: 335px;
  left: 580px;
}

#b40 {
  top: 470px;
  left: 580px;
}

/* Water tank sensor top */
#b41 {
  top: 175px;
  left: 940px;
}

/* Water tank sensor middle */
#b42 {
  top: 272px;
  left: 940px;
}

/* Water tank sensor bottom */
#b43 {
  top: 420px;
  left: 940px;
}